*{
    margin-left: 10;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-around;
}

.navi{
    align-items: center;
    text-align: center;
}


.top-bar {
    display: flex;
    height: 90px;
}

.top-bar .nav-down-1, .nav-down-2{
    display: flex;
    text-align: center;
  
}
.nav-down-1 {
    width: 50%;
}

.nav-down-2 {
    justify-content: right;
    text-align: right;
    width: 50%;
}

.item{
    padding: 5px;
    
}

.item-1{
    justify-content: center;
    padding: 5px;
}

.navbar-static-top
{
width:80%;
margin:0 auto;
}
.navbar-static-top .container
{
width:100%;
}